
.page-content-header {
    padding-bottom: 20px;
}

.page-content {
    padding-top: 70px;
    padding-bottom: 150px;
}

.EndpointMethodUrl-name {
    font-size: 13px;
    color: #999;
    margin-left: 2px;
}

.EndpointMethodUrl-method {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
}

.EndpointMethodUrl-path {
    font-size: 25px;
    word-break: break-all;
}

.DGES {
    padding: 10px 0;
}

.DGES-inner {
    max-width: 1000px;
    position: relative;
    transition: all 0.25s;
}

.DGES-name {
    padding: 13px 15px 10px 15px;
    color: #333;
    font-size: 22px;
    line-height: 30px;
}

.DGES-content {
    transition: all 0.25s;
}

.DGES-inner .JSV {
    padding: 0;
    margin: 0;
}

.DGES-inner .u-markdownBasic {
    padding: 10px 15px 0 15px;
}

.JSVE {
    width: 100%;
    border: 1px solid #eee;
}

.JSVE-toggle {
    padding: 6px 15px;
    border-bottom: 1px solid #f6f6f6;
}

.JSVE .JSV {
    border: none;
}

.JSV-row {
    width: 100%;
    cursor: pointer;
    position: relative;
}

.JSV-rowName {
    min-width: 200px;
}

.JSV-row:nth-child(even) {
    background-color: #f9f9f9;
}

.JSV-row--1 .JSV-rowType, .JSV-row--1 .JSV-rowName, .JSV-row--1 .JSV-namelessType, .JSV-row--1 table {
    padding-left: 30px;
}


.JSV-row--0 .JSV-rowType, .JSV-row--0 .JSV-rowName, .JSV-row--0 .JSV-namelessType, .JSV-row--0 table {
    padding-left: 15px;
}


.JSV-rowDesc {
    color: #999;
    padding: 0 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 0;
}

.JSV-row>div:last-child {
    padding-right: 15px;
}

.u-schemaColors, .sl-schema-colors {
    position: relative;
}

.u-schemaColors .sl--object, .sl-schema-colors .sl--object {
    color: #00f;
}

.u-schemaColors .sl--string, .sl-schema-colors .sl--string {
    color: #008080;
}

.u-schemaColors .sl--boolean, .sl-schema-colors .sl--boolean {
    color: #ff69b4;
}

.u-schemaColors .sl--number, .sl-schema-colors .sl--number, .u-schemaColors .sl--integer, .sl-schema-colors .sl--integer {
    color: #a52a2a;
}

.mr-2 {
    margin-right: 20px;
}

.f-0 {
    flex: 0 0 auto;
}

.f {
    display: flex;
    flex: none;
}

.f-1 {
    flex: 1;
    min-height: 0;
}

.fs-1 {
    flex-shrink: 1;
}

.fw-b {
    font-weight: bold;
}

.ai-c {
    align-items: center;
}

.us-t {
    user-select: text;
    cursor: text;
}

.SmallLayout-body {
    margin-top: -30px;
    box-shadow: 0 0 1px 0px rgba(0,0,0,0.5);
    background-color: #fff;
    min-height: 750px;
}

.SmallLayout-content {
    width: 75%;
    padding: 0;
}

.SmallLayout-aside {
    width: 25%;
    max-width: 300px;
    border-right: 1px solid #eee;
}

/* Left navbar block. */
#nav-bar-left-container {
    /*margin-right: 1100px;*/
    padding-left: 65px;
}

/* Right navbar block. */
#nav-bar-right-container{
   /*margin-left: 600px;*/
   padding-right: 70px;
}
