<div>
    <h1 class="page-content-header">Welcome to the API documentation</h1>
    <div class="container">
        <h5><a href="{{ url_for('main.api_docs') }}">Getting started</a></h5>
        <a style="display:block" href="{{ url_for('main.api_docs', doc_name='short') }}">
            <div class="f w-100">
                <span style="color: rgb(52, 127, 196); width: 46px;">POST</span>
                <div style="padding-left: 20px;">Create short url</div>
            </div>
        </a>
    </div>
    <br><br><br>
</div>
