{% extends "base.html" %}
{% block title %}API docs{% endblock %}
{% block page_content %}
<div class="page-header">
    <div class="SmallLayout-content">
        {% include 'docs/_header.html' %}
        <div>
            <h4>Getting Started</h4>
            <div>
                <p>Welcome to the UrlShorter API. Upwards you will find a current list of the available methods on our API. If you need help or support, please head over to our <a href="https://t.me/keikoobro" class="undefined" target="_blank">API support</a>.</p>
                <p>API host: <code>{{ api_host }}</code></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
