{% extends "base.html" %}

{% block title %}API docs{% endblock %}

{% block page_content %}

<div class="page-header">
    <div class="SmallLayout-content">
        {% include 'docs/_header.html' %}
        <div class="container">

            <div class="EndpointMethodUrl">
                <div class="EndpointMethodUrl-name">Create short url</div>
                <div class="f ai-c">
                    <span class="EndpointMethodUrl-method Method-Type-POST f-0 mr-2" style="color: rgb(52, 127, 196);">POST</span>
                    <span class="EndpointMethodUrl-path f-1">/short</span>
                </div>
            </div>

            <div class="DGES">
                <div class="DGES-inner">
                    <div class="DGES-content">
                        <div class="EpDef-description u-markdownBasic"><p>Create new short link.</p></div>
                    </div>
                </div>
            </div>

            <div class="DGES">
                <div class="DGES-inner">
                    <h2 class="DGES-name">Request Body <small>application/json</small></h2>
                    <div class="DGES-content">

                        <div class="JSVE">
                            <div class="JSVE-toggle f">
                                <div class="f-1 f ai-c">
                                    <span class="JSVE-toggleButton is-on">Schema</span>
                                </div>
                            </div>
                            <div class="JSV us-t u-schemaColors">
                                <div class="JSV-row JSV-row--0 is-expanded f">
                                    <div class="JSV-rowType f-0 JSV-namelessType">
                                        <span class="sl--object">object</span>
                                    </div>
                                    <div class="JSV-rowDesc f-0 fs-1"><div></div></div>
                                    <div class="f-1"></div>
                                </div>
                                <div class="JSV-row JSV-row--1 f">
                                    <div class="JSV-rowName f-0">url</div>
                                    <div class="JSV-rowType f-0 "><span class="sl--string">string</span></div>
                                    <div class="JSV-rowDesc f-0 fs-1"><div class="JSV-validations"><div>Specify the url to be shortened.</div></div></div>
                                    <div class="f-1"></div>
                                    <div class="f-0 fw-b">required</div>
                                </div>
                                <div class="JSV-row JSV-row--1 is-expanded f">
                                    <div class="JSV-rowName f-0">life_span</div>
                                    <div class="JSV-rowType f-0 "><span class="sl--integer">integer</span></div>
                                    <div class="JSV-rowDesc f-0 fs-1">
                                        <div class="JSV-rowDescInner"><p>Specify the life span of new url in days.</p></div>
                                        <div class="JSV-validations"><div><b>minimum: </b>1</div>
                                            <div><b>maximum: </b>360</div>
                                            <div><b>default: </b>90</div>
                                        </div>
                                    </div>
                                    <div class="f-1"></div>
                                    <div class="f-0 c-muted">optional</div>
                                </div>

                                <!-- <div class="JSV-row JSV-row--1 is-expanded f">
                                    <div class="JSV-rowName f-0">watchlist</div>
                                    <div class="JSV-rowType f-0 "><span class="sl--boolean">boolean</span></div>
                                    <div class="JSV-rowDesc f-0 fs-1"><div></div></div><div class="f-1"></div>
                                    <div class="f-0 fw-b">required</div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="DGES">
                <div class="DGES-inner">
                    <h2 class="DGES-name">Responses <small>application/json</small></h2>
                    <div class="DGES-content">
                        <div class="JSVE">
                            <div class="JSVE-toggle f">
                                <div class="f-1 f ai-c">
                                    <span class="badge badge-success">201</span>
                                </div>
                            </div>
                            <div class="JSV us-t u-schemaColors">
                                <div class="JSV-row JSV-row--0 is-expanded f">
                                    <div class="JSV-rowType f-0 JSV-namelessType"><span class="sl--object">object</span></div>
                                    <div class="f-1"></div>
                                </div>
                                <div class="JSV-row JSV-row--1 is-expanded f">
                                    <div class="JSV-rowName f-0">ok</div>
                                    <div class="JSV-rowType f-0 "><span class="sl--boolean">boolean</span></div>
                                    <div class="f-1"></div>
                                </div>
                                <div class="JSV-row JSV-row--1 f">
                                    <div class="JSV-rowName f-0">new</div>
                                    <div class="JSV-rowType f-0 "><span class="sl--string">string</span></div>
                                    <div class="f-1"></div>
                                </div>
                                <div class="JSV-row JSV-row--1 f">
                                    <div class="JSV-rowName f-0">original</div>
                                    <div class="JSV-rowType f-0 "><span class="sl--string">string</span></div>
                                    <div class="f-1"></div>
                                </div>
                                <div class="JSV-row JSV-row--1 f">
                                    <div class="JSV-rowName f-0">expired_in</div>
                                    <div class="JSV-rowType f-0 "><span class="sl--string">string</span></div>
                                    <div class="f-1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="DGES">
                <div class="DGES-inner">
                    <div class="DGES-content">
                        <div class="JSVE">
                            <div class="JSVE-toggle f">
                                <div class="f-1 f ai-c">
                                    <span class="badge badge-danger">400</span>
                                </div>
                            </div>
                            <div class="JSV us-t u-schemaColors">
                                <div class="JSV-row JSV-row--0 is-expanded f">
                                    <div class="JSV-rowType f-0 JSV-namelessType"><span class="sl--object">object</span></div>
                                    <div class="JSV-rowDesc f-0 fs-1"><div></div></div>
                                    <div class="f-1"></div>
                                </div>

                                <div class="JSV-row JSV-row--1 is-expanded f">
                                    <div class="JSV-rowName f-0">message</div>
                                    <div class="JSV-rowType f-0 "><span class="sl--object">object</span></div>
                                    <div class="JSV-rowDesc f-0 fs-1"><div></div></div>
                                    <div class="f-1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="DGES">
                <div class="DGES-inner">
                    <div class="DGES-content">
                        <div class="JSVE">
                            <div class="JSVE-toggle f">
                                <div class="f-1 f ai-c">
                                    <span class="badge badge-danger">404</span>
                                </div>
                            </div>
                            <div class="JSV us-t u-schemaColors">
                                <div class="JSV-row JSV-row--0 is-expanded f">
                                    <div class="JSV-rowType f-0 JSV-namelessType"><span class="sl--object">object</span></div>
                                    <div class="f-1"></div>
                                </div>

                                <div class="JSV-row JSV-row--1 f">
                                    <div class="JSV-rowName f-0">message</div>
                                    <div class="JSV-rowType f-0 "><span class="sl--string">string</span></div>
                                    <div class="f-1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
