{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1 class="page-content-header">Paste the URL to be shortened</h1>
</div>

<div>
    <div>
        <form action="" method="post" class="form" role="form">
            {{ form.csrf_token }}
            <div class="form-group  required">
                {{ form.url.label(class_ = "control-label") }}
                {{ form.url(class_ = "form-control" + (" is-invalid" if form.url.errors else "")) }}
                {% if form.url.errors %}
                    {% for error in form.url.errors %}
                      <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-group  required">
                {{ form.life_span.label(class_ = "control-label") }}
                {{ form.life_span(class_ = "form-control" + (" is-invalid" if form.life_span.errors else "")) }}
                {% if form.life_span.errors %}
                    {% for error in form.life_span.errors %}
                      <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            {{ form.submit(class_ = "btn btn-primary") }}
        </form>
    </div>


    <br>
    <br>
</div>

{% if new %}
    <div class="row">
        <div class="col-lg-6">
            <h3>Your URL was successfully shortened!</h3>
            <div class="input-group input-group-sm">
                <input type="text" class="form-control input-sm copy-text-area" style="" value="{{ new }}">
                <span class="input-group-btn">
                    <button class="btn btn-success btn-sm copy-text-area-btn" type="submit">Copy</button>
                </span>
            </div>
            <div class="copied-string"></div>
            <small class="form-text text-muted">
                <b>Redirects to:</b> <img src="https://www.google.com/s2/favicons?domain={{ original }}" height="13px" alt="favicon"/> {{ original }}
            </small>
        </div>

    </div>
    <script>
        var copyTextareaBtn = document.querySelector('.copy-text-area-btn');

        copyTextareaBtn.addEventListener('click', function(event) {
        var copyTextarea = document.querySelector('.copy-text-area');
          copyTextarea.focus();
          copyTextarea.select();

          try {
            var successful = document.execCommand('copy');
            var msg = successful ? 'successful' : 'unsuccessful';
            console.log('Copying text command was ' + msg);

            var newElement = document.createElement('small');
            newElement.innerHTML = '<span class="fas fa-check">Copied</span>'.trim();

            var appendElement = document.querySelector('.copied-string');
            appendElement.innerHTML = '';
            appendElement.append(newElement);
            copyTextarea.style.cssText = 'border: 2px solid green; border-radius: 4px;';
          } catch (err) {
            console.log('Oops, unable to copy');
          }
        });
    </script>
{% endif %}

{% endblock %}
